@charset "utf-8";
/**************** Ĭ����ʽ���� ****************************/
html,body,div,img,span,a,h1,h2,h3,h4,h5,h6,ul,ol,pre,fieldset,li,input,blockquote,textarea,button,dl,dt,dd,body,pre,form,p,th,td,table,legend{ margin:0; padding:0;word-wrap: break-word; 
	word-break:break-all; }
body{margin:0 auto; font-size:14px; text-align:center;font-family:'����,Arial,sans-serif'; -webkit-text-size-adjust:none;}
a { text-decoration:none;}
a:hover {text-decoration: underline;}
img{ border:none; }
table{border-collapse:collapse; border-spacing:0;}/*���������߿��ϲ�Ϊһ��*/
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ul,ol { list-style-type:none;}
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:normal;}
caption,th { text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%; font-weight:normal;}
q:before,q:after { content:'';}
ol {list-style-type: decimal;}
input { vertical-align: middle;}
abbr,acronym { border:0; }


/**************** ������ʽ **********************/
.fl{float:left; display:inline;}
.fr{float:right;}
.nowrap { white-space:nowrap;}
.clear{ clear: both;}
@charset "UTF-8";
/*wrap*/
.wrap {
    width:1000px;
    margin:0 auto;
    background:#fff;
}
/*head*/
.head {
    height:130px;
    padding-top: 20px;
}
.searchWarm{
    border-color: red!important;
}
.h-top {
    height:90px;
    margin-left:45px;
    padding-top:10px;
    background:url(http://sources.corp.qunar.com/comics/logo.gif) no-repeat;
    position:relative;
    left:0;
    top:0;
}
.search-btn {
float:right;
margin-left:10px;
width:120px;
margin-right:80px;
display:inline-block;
height:44px;
border:none;
background:#f6851f;
color:#fff;
font-weight:bold;
font-size:16px;
}
.search-text {
    float:right;
    width:515px;
    border:1px solid #ccc;
    height:44px;
    line-height:44px;
    font-size:18px;
    color:#ccc;
    background: #fff;
}
.inputTips{
    position:absolute;
    left:228px;
    top:55px;
    width:515px;
    border:1px solid #ccc;
    background:#fff;
    display:none;
    z-index: 999999;
}
.inputTips li{
    text-align:left;
    height:20px;
    width:510px;
    line-height:20px;
    padding-left:10px;
    padding:2px 0;
}
.inputTips .hover{
    background:#f6851f;
    color:#fff;
}
.h-menu {
    height:30px;
    border-bottom:2px solid #f6851f;
    background:#f2f2f2;
    text-align:left;
    padding-left:10px;
}
    .h-menu a {
    text-align:center;
    display:inline-block;
    height:30px;
    line-height:30px;
    color:black;
    font-weight:bold;
    font-size:14px;
    padding:0 10px;
    float: left;
    }
    .h-menu a:hover,
    .h-menu a.sel {
     background:#f6851f;
     color:#fff;
     text-decoration:none;
     cursor:pointer;
    }
.qsso_login{
    position:absolute; 
    color:#666; right:0; top:-10px;
     background:none; border:none;
  }
  .qsso_login:hover{
     color:black;
  }
/*foot*/
.foot{
    margin-top: 6px;
    height:24px;
    font-size: 12px;
    line-height: 24px;
    font-weight: bold;
    padding-bottom: 40px;
}
.f-right{
    float:right;
    color:#f6851f;
}
.f-right a{
     color:#f6851f;

}
.f-right a:hover{
    text-decoration: underline;

}
.f-left{
  text-align: left;
  color: #aaa;

}

@charset "utf-8";      
.pagination a {
    text-decoration: none;
	border: 1px solid #AAE;
	color: #15B;
}

.pagination a, .pagination span {
    display: inline-block;
    padding: 0.1em 0.4em;
    margin-right: 5px;
	margin-bottom: 5px;
}

.pagination .current {
    background: #26B;
    color: #fff;
	border: 1px solid #AAE;
}

.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}


@charset "UTF-8";



/*content*/
.content
{
   margin-top: 20px;
   overflow: hidden;
   padding-top: 10px; 
}
.content h1{
    text-align: left;
    font-weight: bold;
    color: #aaa;
    font-size: 14px;
    margin-bottom: 8px;
}
.content h1 span{
    color: #f6851f;
}
.c-li{
    width: 302px;
    height: 170px;
    border: 1px solid #ccc;
    background: #fff7f2;
    padding: 9px;
    _padding:0 9px;
    _padding-bottom:9px;
    float: left;
    margin-right: 16px;
    margin-bottom: 10px;
    *zoom:1;
}
.c-li dl{
    overflow: hidden;
    _padding: 9px 0;
}
.modi-left{
    margin-right: 0;
}

.c-li dl dt, .c-li dl dd{
    float: left;
    overflow: hidden;
    *zoom:1;
}
.c-li dl dd{
    width: 160px;
    height: 170px;
    text-align: left;
    margin-left: 10px;
}
.c-li dl dt {
    height: 162px;
    width: 122px;
    border: 1px solid #ccc;
    background: #fff;
    padding:4px;
/*    _margin-left: -3px;
    _font-size:0;*/
    
}

.c-img{
    height: 162px;
    width: 122px;
}
.hua-name{
    margin-top: 2px;
    font-weight: bold;
    color:black;
    font-size: 11px;
    overflow: hidden;

}
.c-detail{
    margin-top:26px;
    font-weight: bold;
    color:#aaa;
    font-size: 11px;
    overflow: hidden;
}
.c-detail p {
    line-height: 16px;
}
.c-detail span{
    color:#f6851f;
}

.hua-name:hover{
    color: #2449d3;
}
.updateCounts{
    margin-top: 2px;
    color: #aaa;

}

