@charset "utf-8";html,body,div,img,span,a,h1,h2,h3,h4,h5,h6,ul,ol,pre,fieldset,li,input,blockquote,textarea,button,dl,dt,dd,body,pre,form,p,th,td,table,legend{margin:0;padding:0;word-wrap:break-word;word-break:break-all}
body{margin:0 auto;font-size:14px;text-align:center;font-family:'����,Arial,sans-serif';-webkit-text-size-adjust:none}
a{text-decoration:none}
a:hover{text-decoration:underline}
img{border:0}
table{border-collapse:collapse;border-spacing:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ul,ol{list-style-type:none}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
ol{list-style-type:decimal}
input{vertical-align:middle}
abbr,acronym{border:0}
.fl{float:left;display:inline}
.fr{float:right}
.nowrap{white-space:nowrap}
.clear{clear:both}
@charset "UTF-8";.wrap{width:1000px;margin:0 auto;background:#fff}
.head{height:130px;padding-top:20px}
.searchWarm{border-color:red!important}
.h-top{height:90px;margin-left:45px;padding-top:10px;background:url(http://sources.corp.qunar.com/comics/logo.gif) no-repeat;position:relative;left:0;top:0}
.search-btn{float:right;margin-left:10px;width:120px;margin-right:80px;display:inline-block;height:44px;border:0;background:#f6851f;color:#fff;font-weight:bold;font-size:16px}
.search-text{float:right;width:515px;border:1px solid #ccc;height:44px;line-height:44px;font-size:18px;color:#ccc;background:#fff}
.inputTips{position:absolute;left:228px;top:55px;width:515px;border:1px solid #ccc;background:#fff;display:none}
.inputTips li{text-align:left;height:20px;line-height:20px;padding-left:10px;padding:2px 0}
.inputTips .hover{background:#f6851f;color:#fff}
.h-menu{height:30px;border-bottom:2px solid #f6851f;background:#f2f2f2;text-align:left;padding-left:10px}
.h-menu a{text-align:center;display:inline-block;height:30px;line-height:30px;color:black;font-weight:bold;font-size:14px;padding:0 10px;float:left}
.h-menu a:hover,.h-menu a.sel{background:#f6851f;color:#fff;text-decoration:none;cursor:pointer}
.qsso_login{position:absolute;color:#666;right:0;top:-10px;background:0;border:0}
.qsso_login:hover{color:black}
.foot{margin-top:6px;height:24px;font-size:12px;line-height:24px;font-weight:bold;padding-bottom:40px}
.f-right{float:right;color:#f6851f}
.f-right a{color:#f6851f}
.f-right a:hover{text-decoration:underline}
.f-left{text-align:left;color:#aaa}
.content{margin-top:16px}
.c-menu{text-align:left;overflow:hidden;zoom:1;position:relative;left:0;top:0;height:32px}
.c-m{display:inline-block;border:1px solid #ccc;padding:6px 20px;border-bottom:0;float:left;color:#aaa;margin-top:3px;cursor:pointer;background:#f6f6f6}
.c-m-sel{border-top:2px solid #f6851f;margin-top:0;padding-top:9px;color:black;border-top-right-radius:2px;border-top-left-radius:2px;background:#fff}
.every-pic{width:109px;font-size:14px;text-align:center;float:left;margin:14px;*margin:14px 15px 14px 15px;display:inline;overflow:hidden;zoom:1}
.every-pic dd{padding-top:10px}
.every-pic dd p{height:20px;line-height:20px}
.c-pic{border:1px solid #ccc;overflow:hidden}
.c-pic ul{overflow:hidden;zoom:1}
.modi-left{margin-left:30px}
.c-p-one{width:107px;height:142px;border:1px solid #ccc;padding:1px}
.hua-name{font-weight:bold;color:black;font-size:14px;white-space:nowrap;overflow:hidden;padding:0 4px}
.hua-name:hover{color:#2449d3}
.updateCounts{color:#aaa;width:110px;padding:0 4px;overflow:hidden}
